.menu {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;

  .vw-menu {
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    svg {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      .exclamation-dot {
        opacity: 1;
        animation: pulse 1.5s ease-in-out infinite;

        a:hover & {
          animation: none;
        }
      }

      .exclamation-line {
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(-10px);
      }

      &:hover {
        .exclamation-line {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes pulse {
        0%, 100% {
          transform: scale(1);
          transform-origin: 50%;
        }
        50% {
          transform-origin: 50%;
          transform: scale(1.3);
        }
      }
    }
  }


  .menu-container { 
    display: none;
    background:rgba($color: #111, $alpha: .8);
    width: 100vw;
    height: 100vh;
    z-index: 1100;
    position: fixed;
    left:0;
    top: 0; 
    &.visible {
      display: flex;

      .inner-menu {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 1100;

          // >.after , >.before {
          //   position: absolute;
          //   width: 100%;
          //   height: 100%;
          //   transition:all .5s ease-in;
          //   transform-origin: center;
          //   z-index: 1;
          // }
      
          >.after {
            background: #fff;
            transform: rotate(25deg) scale(1.5);
            left: -31%;
            animation:moveToLeft 1s ease-in-out forwards
          }
          >.before {
            background: #000;
            transform: rotate(25deg) scale(1.5);
            left: 0%;
            top: -83%;
            animation:moveToRight 1s ease-in-out forwards
          }
    
    
          .bb-menu {
            width: 100%;
            animation: showMenu .3s ease-in-out forwards;
            animation-delay: .5s;
            opacity: 0;
            z-index:1100;
            display: flex;
            flex-flow: column wrap;;
            align-items: center;
            justify-content: center;
            gap:10px;

            > li {
              font-size:min(2vw, 30px);
              mix-blend-mode: difference;
              a {
                padding:0 10px;
                position: relative;
                display: inline-block;
                overflow: hidden;
                color: #000;
                text-decoration: none;

                &:after {
                  content: '';
                  position: absolute;
                  width: 115%;
                  height: 100%;
                  top: 0;
                  left: -105%;
                  background-color: #c8e8ff;
                  transform: skew(-10deg);
                  transition: left 0.35s ease-out;
                  z-index: -1;
                }
                &:hover {
                  &:after {
                    left: 0;
                  }
                }
              }
            }
          }
        }
        .circle_menu {
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba($color: #fff, $alpha: .3);
            animation: purse 3s linear infinite;
            animation-delay: 1.5s;
          }
        }

    
        @keyframes showMenu {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
    
        @keyframes moveToLeft {
          0% {
            top: 170%;
          }
          100% {
            top: 52%;
          }
        }
        @keyframes moveToRight {
          0% {
            top: -201%;
          }
          100% {
            top: -83%;
          }
        }

        @keyframes purse {
          0% {
            transform: scale(1);
            opacity: 1;
          }
          100% {
            transform: scale(1.3);
            opacity: 0;
          }
        }
      }
  }

  .circle_menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    aspect-ratio: 1;
    height: 35vw;
    max-height: calc(100vh - 400px);
    border-radius: 50%;
    z-index: 1000;
    background-color: rgba(255, 255, 255); // 배경색 설정
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popIn 0.5s forwards;
  }

  .circle_menu__main {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.1em solid var(--stroke);
    border-right-width: 0.2em;
    transition: all 0.1s ease-in-out;
  }


  .circle_menu__drop {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 2em;
    height: 0.125em;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 1;
  }

  .circle_menu__drop--1,
  .circle_menu__drop--3 {
    transform: rotate(90deg);
  }

  .circle_menu__drop--5,
  .circle_menu__drop--7 {
    transform: rotate(-45deg);
  }

  .circle_menu__drop--6,
  .circle_menu__drop--8 {
    transform: rotate(45deg);
  }

  @keyframes popIn {
    from {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
}
