.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 24px;
}

.word::before {
  content: '';
  background: radial-gradient(circle at 40% 20%, #fcfcfc 0%, #ddd 10%, #333 50%, black 70%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -35%);
  filter: blur(0.5px);
}

.word span {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}